.DS_Store
.idea/
target
*.iws
*.iml
*.ipr
application.properties
.terraform.lock.hcl
.terraform/
*.tfstate
*.tfstate.backup
.terraform.tfvars
.terraform.tfvars.json
*.log
*.out
*.err
*.log.*
*.out.*
*.err.*
frontend/node_modules
frontend/.next
package-lock.json
/frontend/.env.local
